.createBox {
  padding: 10px;
  border: 1px solid var(--border);
  background-color: var(--background);
  border-radius: 8px;
}

.topBack {
  width: 105%;
  background: url(/images/starry.jpg);
  height: 34px;
  background-position: center;
  margin: -9px -9px 5px;
  background-position-y: 60px;
  border-radius: 8px 8px 0 0;
}

.sub {
  margin: 16px 10px;
  text-align: center;
}

.sub h1 {
  margin-bottom: 5px;
}

.detail {
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.detail p {
  margin-bottom: 10px;
}

.detail button {
  margin-left: auto;
  font-size: 11px;
  width: 32%;
}
