.loginOpts {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.loginOpts button {
  width: 39%;
}

.loginBtn {
  background-color: var(--orange);
  border: none;
}

.loginBtn:hover {
  color: var(--orange);
  background-color: white;
}

.registerBtn {
  background-color: transparent;
  border: 1px solid whitesmoke;
}

@media screen and (max-width: 1400px) {
  .loginOpts button {
    padding: 7px 12px;
    font-size: 11px;
    width: 35%;
  }
}
