.createBox {
  padding: 10px;
  border: 1px solid var(--orange);
  border-radius: 8px;
}

.sub {
  margin: 16px 10px;
  text-align: center;
}

.sub h1 {
  margin-bottom: 5px;
}

.detail {
  background-position: center;
  background-repeat: no-repeat;
  padding: 5px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-image: url("/images/add.png");
}

.detail p {
  margin-bottom: 10px;
}

.detail button {
  margin-left: auto;
  font-size: 11px;
  width: 32%;
}
